#homePage {
    text-align: center;
}

#homePage #firstSection, #secondSection, #thirdSection {
    padding: 75px;
}

#homePage h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #b5b5b5;
}

#firstSection, #thirdSection h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 30px;
    color: #b5b5b5;
    text-transform: uppercase
}

#firstSection, #thirdSection h4 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 15px;
    color: #E7E7E7;
    text-transform: uppercase
}

#homePage hr {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(99, 92, 56, .75), rgba(0, 0, 0, 0));
    height: 1px;
    border: 0;
}

#secondSection {
    margin-top: 50px;
}

#secondSection ul {
    display: inline-flex;
    width: 100%;
}

#secondSection li {
    width: 33%;
    margin: 0 auto;
}

#secondSection li img {
    margin-top: 25px;
}

#secondSection li p {
    width: 50%;
    color: #b5b5b5;
    font-family: 'Open Sans', sans-serif;
    margin: 15px auto 0;
}

#thirdSection {

}

#barChart rect:hover {
    fill: #c6c581;
}

#barChart rect {
    fill: #63673f;
    shape-rendering: crispEdges;
}

#barChart, #pieChart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: middle;
}

.chart {
    margin: 50px;
}

#charts {
    margin-top: 50px;
}