#products ul {
    /*display: inline-flex;*/
}

.productList li {
    float: left;
    width: 320px;
    height: 465px;
    margin: 50px;
}

#slides_control > div {
    height: 400px;
}

#slides_control img {
    margin: auto;
    width: 400px;
}

#slides_control {
    position: absolute;
    width: 400px;
    left: 50%;
    top: 100px;
    margin-left: -200px;
}

.carousel-caption .ng-binding {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

li.ng-isolate-scope {
    background: rgb(99, 92, 56);
    color: white;
}

li.ng-isolate-scope a {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

li.ng-isolate-scope a:hover {
    background-color: rgb(195, 194, 120);
}

.nav-tabs.nav-justified > li > a, .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover {
    border: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: rgb(195, 194, 120);
    color: white;
}

h4.ng-binding {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #b5b5b5;
}

.productList img:hover {
    cursor: pointer;
}

.btn-primary {
    background: limegreen;
    border: limegreen;
}

.productHeading {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 30px;
    color: #b5b5b5;
}

.productInDescription {
    text-align: center;
}

.productInDescription .price {
    color: limegreen;
}

.cart {
    text-align: left;
}

.cart .price {
    color: limegreen;
    font-size: 12px;
}

.cart .heading {
    font-size: 15px;
}