<html>
<section id="homePage">
    <div id="firstSection">
        <h1>THE CHEAPEST AND BEST QUALITY VINTAGE CLOTHES YOU CAN FIND</h1>
        <h4>and possibly the ugliest</h4>
    </div>
    <hr>
    <div id="secondSection">
        <ul>
            <li ng-repeat="homeInfoText in infoTexts">
                <h1>{{homeInfoText.title}}</h1>
                <img src="{{homeInfoText.image}}">

                <p>{{homeInfoText.paragraph}}</p>
            </li>
        </ul>
    </div>
    <hr>
    <div id="thirdSection">
        <h1>Here is Proof that our store is the best</h1>
        <h4>With deceitful data</h4>

        <div id="charts">
            <bar-chart id="barChart" class="chart" chart-data="chart1Data"></bar-chart>
            <pie-chart id="pieChart" class="chart" chart-data="chart2Data"></pie-chart>
            <ul style="position: absolute;top:0">
                <li ng-repeat="homeInfoText in gitHubData track by $index">
                    <h1>{{ homeInfoText}}</h1>
                </li>
            </ul>
        </div>
    </div>
</section>