<div class="modal-header">
    <h3 class="modal-title">Please Log-In!</h3>
    <h4>You can login with Username: test, Password: test</h4>
</div>

<form name="loginForm" class="form-group" ng-controller="LoginModalCtrl" novalidate>
    <div class="modal-body">

        <label for="username">Username:</label>
        <input type="text" id="username" ng-model="username">
        <label for="password">Password:</label>
        <input type="password" id="password" ng-model="password">

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="login()">Login</button>
        <button class="btn btn-warning" ng-click="cancelRedirect()">Cancel</button>

    </div>
</form>